* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: transparent;
}

header {
    color: salmon;

}

nav {margin-bottom: 1.5rem;}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

li {
    padding: 0.5rem 2rem;
}


.main {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.main-image {
    border-radius: 12px;
    margin: 1rem;
}

footer>p {
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    body {
      padding: 1rem;
    }
    .main {flex-wrap: nowrap;}
  }

  .link {
      color: salmon;
      text-decoration: none;
      white-space: nowrap;
  }