* {
    font-family: 'Roboto', sans-serif;
}


body {
    background-color: transparent;
}

header {
    color: salmon;

}

nav {margin-bottom: 1.5rem;}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

li {
    padding: 0.5rem 2rem;
}

a {
    text-decoration: none;
    color: inherit;

}

.main {
    display: flex;
}

.main-image {
    border-radius: 12px;
}

footer>p {
    font-size: 14px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}